body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(./assets/coding_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;    
}

.navbar-brand {
    color: rgb(12, 9, 9);
}

.navbar-nav { 
    margin-left: 1100px;
}

.navbar-nav a {
    color: rgb(12, 9, 9);
    padding-left: 20px;
}


/*Body*/
.intro {
   padding-top: 60px;
   padding-bottom: 100px;
   text-align: center;
}

.aboutInfo {
    padding-bottom: 50px;
}

.aboutInfo img {
    height: 300px;
    width: 300px;
}

.skills {
    background-color: rgb(80, 78, 78);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.skills li {
    padding-left: 40px;
}

.portfolio {
    background-color: rgb(105, 101, 101);
    padding-top: 50px;
    padding-bottom: 50px;
}

.thumbnail img {
    image-rendering: auto;
    height: 200px;
    width: 300px;
}

li {
    display: inline-block;
    color: white;
    margin: auto;
}

li img {
    height: 55px;
    width: 55px;
}



/*Footer*/
footer {
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    padding: 15px;
    margin: 0 0;
}
footer ul {
    text-align: left;
    padding-top: 10px;
    margin: auto;
}

footer li {
    display: inline-block;
    padding-right: 2em;
}

footer li a {
    color: rgb(12, 9, 9);
}